{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="banner-section">

        <!-- Banner Inner Container -->
        <div class="banner-container">
        <div class="auto-container">

            <!--  Text content moved above Swiper -->
            <div class="content-box banner-text-top">
            <div class="content">
                <div class="clearfix">
                <div class="inner">
                    <h1>Restaurant chez Sandrine</h1>
                    <div class="text text-white">Une cuisine savoureuse et authentique -  <span class="theme_color">revisitée avec une touche de modernité.</span></div>
                </div>
                </div>
            </div>
            </div>

            <!--  Slider image inside container -->
            <div class="swiper banner-slider slider-contained">
                <div class="swiper-wrapper">
                    <!--Slide Item-->
                    <div class="swiper-slide slide-item">
                    <div class="image-layer" style="background-image: url({{ asset('assets/images/resto.jpeg') }});"></div>
                    </div>
                    <div class="swiper-slide slide-item">
                    <div class="image-layer" style="background-image: url({{ asset('assets/images/brasero.jpeg') }});"></div>
                    </div>
                    <div class="swiper-slide slide-item">
                    <div class="image-layer" style="background-image: url({{ asset('assets/images/restoAir.jpeg') }});"></div>
                    </div>
                </div>

                <div class="swiper-button-prev" onclick="window.bannerSlider.slidePrev()">
                    <span class="fal fa-angle-left"></span>
                </div>
                <div class="swiper-button-next" onclick="window.bannerSlider.slideNext()">
                    <span class="fal fa-angle-right"></span>
                </div>
            </div>

            <!--  location and time info -->
            <div class="hero-info">
                <div class="top-bar-content">
                    <div class="info-item">
                    {# <span class="label">Notre adresse :</span> 159 rue des illards, 01140 st didier sur chalaronne #}
                    </div>
                    <div class="separator">
                    <img src="{{ asset('assets/images/icons/star-element.svg') }}" alt="separator">
                    </div>
                    <div class="info-item">
                    {# <span class="label">Ouvert de :</span> Mardi au dimanche - 19h à 22H00 et dimanche 12h à 15h #}
                    </div>
                </div>
            </div>

        </div>
        </div>

        {# <a href="book-table.html" class="book-btn">
        <span class="icon"> <img src="{{ asset('assets/images/resource/book-icon-1.png') }}" alt="image" title="image"> </span>
        </a> #}
</section>

<!--About Section-->
<section class="about-section section-kt">
    <div class="container-fluid">
        <div class="title-box centered">
            <div class="subtitle"><span>Notre histoire</span></div>

            <h2>Profitez de chaque moment avec un <span class="theme_color"> Petit-déjeuner</span>, un <span class="theme_color"> Repas</span> et des <span class="theme_color"> Boissons </span> </h2>
        </div>

        <div class="row clearfix">
            <!--Col-->
            <div class="text-col col-xl-3 col-lg-4 col-md-8 mx-auto">
                <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">

                    <div class="text">Le resto Chez Sandrine est un lieu chaleureux au cœur du camping et propose une cuisine généreuse et conviviale Chez Sandrine a su devenir un lieu apprécié des vacanciers depuis que un chef passionné y partage ses plats.</div>

                    <div class="lower-link-box text-center">
                    </div>

                </div>
            </div>
        </div>

        <!--Col-->
        <div class="image-col col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="inner wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                <div class="floating-images ">
                    <div class="abt-image1 parallax-scene-1"><img data-depth="0.50" src="{{ asset('assets/images/mojito.jpeg') }}" alt="image" style="max-width: 350px; Width: auto;"></div>
                    <div class="abt-image2 parallax-scene-2"><img data-depth="0.50" src="{{ asset('assets/images/salade2.jpeg') }}" alt="image" style="max-width: 300px; height: auto;"></div>
                    <div class="abt-image3 parallax-scene-3"><img data-depth="0.90" src="{{ asset('assets/images/pofiterolles.jpeg') }}" alt="image" style="max-width: 300px; height: auto;"></div>
                </div>

            </div>
        </div>


    </div>
</section>

<!--Menu Section-->
<section class="menu-card-style-section section-kt">
    <div class="auto-container">
        <div class="menu-card-main">
            <div class="top-pattern"> </div>
            <div class="title-box centered">
                <div class="title-badge"> <img src="{{ asset('assets/images/resource/menu-title-badge.svg') }}" alt="image" title="image"> </div>
                <h2>Notre Menu</h2>
            </div>

            <!-- menu card corner images -->
            <img class="menu-card-corner top-left" src="{{ asset('assets/images/resource/menucard-corner-left-top.png') }}" alt="image">
            <img class="menu-card-corner top-right" src="{{ asset('assets/images/resource/menucard-corner-right-top.png') }}" alt="image">
            <img class="menu-card-corner bottom-left" src="{{ asset('assets/images/resource/menucard-corner-left-bottom.png') }}" alt="image">
            <img class="menu-card-corner bottom-right" src="{{ asset('assets/images/resource/menucard-corner-right-bottom.png') }}" alt="image">
            <!-- menu box -->
        <div class="menu-card-style alternate">
            <div class="row clearfix">
                <div class="image-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="image"><img src="{{ asset('assets/images/salade1.jpeg') }}" alt="image"></div>
                    </div>
                </div>

                <div class="menu-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="title-box">
                        <h3>Entrée</h3>
                        </div>

                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Chèvre chaud</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>13,50 €</span></div></div>
                                <div class="text desc"><a href="#">Salade, tomates, lard fumé et bricks de chèvre miel.</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">César<span class="s-info">new</span></a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>14,50 €</span></div></div>
                                <div class="text desc"><a href="#">Salade, tomates, croutons, copeaux de parmesan, tenders de poulet, sauce césar et oeuf.</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Chalaronne</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>15 €</span></div></div>
                                <div class="text desc"><a href="#">Salade, tomates, galettes de pommes de terre, jambon cru, oeuf poché et oignons rouges</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Fromagère<span class="s-info">NEW</span></a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>15 €</span></div></div>
                                <div class="text desc"><a href="#">Salade, tomates, lard, noix, toasts, chèvre, gorgonzola et bleu de bresse</a></div>
                            </div>
                        </div>

                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Assiette de frites</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>5 €</span></div></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- menu box -->
        <div class="menu-card-style">
            <div class="row clearfix">
                <div class="image-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="image"><img src="{{ asset('assets/images/entrecote.jpeg') }}" alt="image"></div>
                    </div>
                </div>

                <div class="menu-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="title-box ">
                        <h3>Viandes et poissons</h3>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Steack à cheval</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>13.50 €</span></div></div>
                                <div class="text desc"><a href="#">Steack haché 180gr, oeuf au plat</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">jambon grillé</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>13 €</span></div></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Carpaccio</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>13 €</span></div></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Andouillette Anselme</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>14 €</span></div></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Tartare de boeuf</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>16 €</span></div></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Entrecote 250gr</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>25 €</span></div></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Assiette carnivore</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>22 €</span></div></div>
                                <div class="text desc"><a href="#">Tartare et carpaccio de boeuf</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">fish & chips</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>15,50 €</span></div></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Suppl. sauce</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>3 €</span></div></div>
                                <div class="text desc"><a href="#">Moutarde, echalotte, camembert, gorgonzola</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- menu box -->
        <div class="menu-card-style alternate last">
            <div class="row clearfix">
                <div class="image-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="image"><img src="{{ asset('assets/images/burger.jpeg') }}" alt="image"></div>
                    </div>
                </div>

                <div class="menu-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="title-box">
                        <h3>Burgers</h3>
                        </div>

                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Classique</a></h6> </div> <span class="menu-list-line"> </span> <div class="price"><span>13,50 €</span></div></div>
                                <div class="text desc"><a href="#">Salade, tomates, oignons, cornichons, steak 180gr, et sauce cheddar</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Chicken</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>13 €</span></div></div>
                                <div class="text desc"><a href="#">Salade, tomates, oignons, cornichons, tender de poulet et sauce cheddar</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Montagnard</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>16,50 €</span></div></div>
                                <div class="text desc"><a href="#">Salade, tomates, oignons, cornichons, steak 180gr, galette de pommes de terre,lard tranché et sauce gorgonzola</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">P'tit français</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>18 €</span></div></div>
                                <div class="text desc"><a href="#">Salade, tomates, oignons, cornichons, steak 180gr, galette de pommes de terre,lard tranché, jambon blanc et sauce camembert</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Suppl. steack ou tender</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>6 €</span></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu box -->
        <div class="menu-card-style">
            <div class="row clearfix">
                <div class="image-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="image"><img src="{{ asset('assets/images/fraise.jpeg') }}" alt="image"></div>
                    </div>
                </div>

                <div class="menu-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="title-box ">
                        <h3>Desserts</h3>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Chocolat liégeois</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>7,50 €</span></div></div>
                                <div class="text desc"><a href="#">2 boules chocolat et ses morceaux, 1 boule vanille intense de madagascar, sauce chocolat et chantilly</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Café liégeois</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>7,50 €</span></div></div>
                                <div class="text desc"><a href="#">2 boules café pur Arabica, 1 boule vanille intense de madagascar, 1 vrai café et chantilly</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Dame blanche</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>7,50 €</span></div></div>
                                <div class="text desc"><a href="#">3 boules vanille intense de madagascar, sauce chocolat et chantilly</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Ardéchoise</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>8 €</span></div></div>
                                <div class="text desc"><a href="#">2 boules marron à la crème de marron, 1 boule vanille intense de madagascar, sauce crème de marron et chantilly</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Banana Split</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>8 €</span></div></div>
                                <div class="text desc"><a href="#">1 boule chocolat et ses morceaux, 1 boule vanille intense de madagascar, 1 boule coeur de fraise, banane fruit, sauce chocolat et chantilly</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Fruit des bois</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>8 €</span></div></div>
                                <div class="text desc"><a href="#">1 boule cassis intense, 1 boule coeur de fraise, 1 boule douceur de framboise, coulis de fruits rouges et chantilly</a></div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h6><a href="#">Fraise Melba (selon arrivage)</a></h6></div> <span class="menu-list-line"> </span> <div class="price"><span>8 €</span></div></div>
                                <div class="text desc"><a href="#">2 boules coeur de fraise, 1 boule vanille intense de madagascar, fraises fruits, coulis de fruits rouges et chantilly</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</section>

<!--Recnt Updates Section-->
{# <section class="news-section section-kt">
    <div class="auto-container">
        <div class="title-box centered">
            <div class="subtitle"><span>recent updates</span></div>
            <h2>Latest Blog Post</h2>
        </div>
        <div class="row justify-content-center clearfix">
            <!--Block-->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <div class="image-box">
                        <div class="image rounded"><a href="blog-single-post.html"><img src="{{ asset('assets/images/brazero.jpg') }}" style="height: 500px; width: 100%;" alt="image"></a></div>
                        <div class="over-content">
                            <div class="date text-white">07 <span>mars | 2026</span></div>
                            <div class="cat">Food, flavour</div>
                            <h4><a href="blog-single-post.html">So yummy, tasty, you'll eat with your eyes.</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!--Block-->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                    <div class="image-box">

                        <div class="image"><a href="blog-single-post.html"><img src="{{ asset('assets/images/resource/news-1.jpg') }}" alt="image"></a></div>
                        <div class="over-content">
                            <div class="date">25 <span>May | 2025</span></div>
                            <div class="cat">healthy food</div>
                            <h4><a href="blog-single-post.html">Chef’s signature for refined tastes ever.</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!--Block-->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <div class="image-box">
                        <div class="image rounded"><a href="blog-single-post.html"><img src="{{ asset('assets/images/resource/news-3.jpg') }}" alt="image"></a></div>
                        <div class="over-content">
                            <div class="date">18 <span>May | 2025</span></div>
                            <div class="cat">recipie</div>
                            <h4><a href="blog-single-post.html">Experience gourmet art and ambience.</a></h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="lower-link-box text-center">
            <a href="blog-list.html" class="theme-btn btn-style-two clearfix">
                <span class="btn-wrap">
                    <span class="text-one">Read more blog</span>
                    <span class="text-two">Read more blog</span>
                </span>
            </a>
        </div>
        
    </div>
</section> #}

{% endblock %}
