<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {# <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}"> #}
        {% endblock %}

        {% block javascripts %}
            {# Scripts globaux non-module #}
            <script src="{{ asset('assets/js/parallax.min.js') }}"></script>
            <script src="{{ asset('assets/js/wow.js') }}"></script>

            {# Bundle Webpack (jQuery + Bootstrap + Owl + Swiper + App.js) #}
            {{ encore_entry_script_tags('app') }}
            {# <script src="{{ asset('assets/js/jquery.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.fancybox.js') }}"></script>
            <script src="{{ asset('assets/js/swiper.js') }}"></script>
            <script src="{{ asset('assets/js/owl.js') }}"></script>
            <script src="{{ asset('assets/js/appear.js') }}"></script>
            <script src="{{ asset('assets/js/wow.js') }}"></script>
            <script src="{{ asset('assets/js/parallax.min.js') }}"></script>
            <script src="{{ asset('assets/js/custom-script.js') }}"></script> #}
        {% endblock %}
    </head>
    <body>
        <div class="page-wrapper"> 
  
            <!-- Preloader -->
            <div class="loader-wrap">
                <div class="preloader">
                    <div class="preloader-close">x</div>
                    <div id="handle-preloader" class="handle-preloader">
                        <div class="animation-preloader">
                            <div class="spinner"></div>
                            <div class="txt-loading">
                                <span data-text-preloader="C" class="letters-loading">
                                    C
                                </span>
                                <span data-text-preloader="H" class="letters-loading">
                                    H
                                </span>
                                <span data-text-preloader="E" class="letters-loading">
                                    E
                                </span>
                                <span data-text-preloader="Z" class="letters-loading">
                                    Z
                                </span>
                                <span data-text-preloader="-" class="letters-loading">
                                    -
                                </span>
                                <span data-text-preloader="S" class="letters-loading">
                                    S
                                </span>
                                <span data-text-preloader="A" class="letters-loading">
                                    A
                                </span>
                                <span data-text-preloader="N" class="letters-loading">
                                    N
                                </span>
                                <span data-text-preloader="D" class="letters-loading">
                                    D
                                </span>
                                <span data-text-preloader="R" class="letters-loading">
                                    R
                                </span>
                                <span data-text-preloader="I" class="letters-loading">
                                    I
                                </span>
                                <span data-text-preloader="N" class="letters-loading">
                                    N
                                </span>
                                <span data-text-preloader="E" class="letters-loading">
                                    E
                                </span>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <!-- Preloader End -->
            
            <!-- Main Header-->
            <header class="main-header header-down">
                {# <div class="header-top">
                    <div class="auto-container">
                        <div class="inner clearfix">
                            <div class="top-left clearfix">
                                <ul class="top-info clearfix">
                                    <li><i class="icon far fa-map-marker-alt"></i> Restoria, Arrondissement, Paris 9578</li>
                                    <li><i class="icon far fa-clock"></i> Daily : 8.00 am to 10.00 pm</li>
                                </ul>
                            </div>
                            <div class="top-right clearfix">
                                <ul class="top-info clearfix">
                                    <li><a href="tel:+11234567890"><i class="icon far fa-phone"></i> +1 123 456 7890</a></li>
                                    <li><a href="mailto:booking@restaurant.com"><i class="icon far fa-envelope"></i> booking@restaurant.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> #}
                <!-- Header Upper -->
                <div class="header-upper">        
                    <div class="auto-container">
                        <!-- Main Box -->
                        <div class="main-box clearfix">
                            <!--Logo-->
                            <div class="logo-box">
                                {# <div class="logo"><a href="index.html" title="Restoria - Restaurants HTML Template"><img src="{{ asset('assets/css/images/logo_camping_chalaronne_dark.png') }}" alt="image" title="Restaurant chez Sandrine" style="width: 100%; height: 150px;"></a></div> #}
                            </div>

                            <div class="nav-box clearfix">
                                <!--Nav Outer-->
                                <div class="nav-outer clearfix">         
                                    <nav class="main-menu">
                                        <ul class="navigation clearfix">
                                            <li><a href="{{ path('app_index') }}">Accueil</a></li>
                                            <li class="dropdown"><a href="#">Nos cartes</a>
                                                <ul>
                                                    <li><a href="#">Menu</a></li>
                                                    <li><a href="#">Desserts</a></li>
                                                    <li><a href="#">Boissons</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{{ path('app_contact') }}">Contact</a></li>
                                        </ul>
                                    </nav>
                                    <!-- Main Menu End-->
                                </div>
                                <!--Nav Outer End-->

                                <!-- Hidden Nav Toggler -->
                                <div class="nav-toggler">
                                    <button class="hidden-bar-opener">
                                        <span class="hamburger">
                                            <span class="top-bun"></span>
                                            <span class="meat"></span>
                                            <span class="bottom-bun"></span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--End Main Header -->
            <!--Menu Backdrop-->
            <div class="menu-backdrop"></div>
            <!-- Hidden Navigation Bar -->
            <section class="hidden-bar">
                <!-- Hidden Bar Wrapper -->
                <div class="inner-box">
                    <div class="cross-icon hidden-bar-closer"><span class="far fa-close"></span></div>
                    <div class="logo-box"><a href="index.html" title="Restaurant chez Sandrine"><img src="{{ asset('assets/css/images/logo_camping_chalaronne_dark.png') }}" style="height: auto;" alt="image" title="Restaurant chez Sandrine"></a></div>
                    
                    <!-- .Side-menu -->
                    <div class="side-menu">
                        <ul class="navigation clearfix">
                            <li><a href="{{ path('app_index') }}">Accueil</a></li>
                            <li class="dropdown"><a href="#">Nos cartes</a>
                                <ul>
                                    <li><a href="#">Menu</a></li>
                                    <li><a href="#">Desserts</a></li>
                                    <li><a href="#">Boissons</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        </ul>
                    </div><!-- /.Side-menu -->
                
                </div><!-- / Hidden Bar Wrapper -->
            </section>
            <!-- / Hidden Bar -->

            <!--Info Back Drop-->
            <div class="info-back-drop"></div>

            <!-- Hidden Bar -->
            <section class="info-bar">
                <div class="inner-box">
                    <div class="cross-icon"><span class="far fa-close"></span></div>
                    <div class="image-box"><img src="{{ asset('assets/images/resource/sidebar-image.jpg') }}" alt="image" title=""></div>
                    <div class="logo-box"><a href="index.html" title="Restoria - Restaurants HTML Template"><img src="{{ asset('assets/images/resource/sidebar-logo.png') }}" alt="image" title="Restoria - Restaurants HTML Template"></a></div>

                    <h5>Visit Us</h5>
                    <ul class="info">
                        <li>Restoria, Arrondissement, <br> Paris 9578</li>
                        <li> <span class="ib-ttl"> Lunch Time </span>- 10.00 am – 3:30 pm </li>
                        <li><span class="ib-ttl"> Dinner Time</span> - 08.00 pm – 10:30 pm</li>
                        <li><a href="mailto:booking@domainame.com">booking@domainame.com</a></li>
                    </ul>
                    <div class="booking-info">
                        <div class="bk-no"><a href="tel:+88-123-123456">Booking: +88-123-123456</a></div>
                    </div>
                </div>
            </section>
            <!--End Hidden Bar -->
            {% block body %}{% endblock %}
            <!--Main Footer-->
            <footer class="main-footer">
                <div class="upper-section section-kt">
                    <div class="auto-container">
                        <div class="row clearfix">
                            <!--Footer Col-->
                            <div class="footer-col info-col col-lg-6 col-md-12 col-sm-12">
                                <div class="inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <div class="content">
                                        <div class="logo"><a href="{{ path('app_index') }}" title="Restaurant chez Sandrine"><img src="{{ asset('assets/css/images/logo_camping_chalaronne_dark.png') }}" style="max-width: 100%; height: 150px;" alt="image" title="Restaurant chez Sandrine"></a></div>
                                        <div class="info">
                                            <h6>Venez passer un moment convial chez Sandrine</h6>
                                            <ul>
                                                <li>159 rue des illards, 01140 Saint-Didier-sur chalaronne</li><br><hr>
                                                <li>Horaires :</li>
                                                <li>Mardi au samedi : 18h30 - 22h30<br> dimanche : 12h00 - 15h00 et 18h30 - 22h30</li><br>
                                                <div class="separator"><span> </span> </div>
                                                <li><a href="mailto:campingchalaronne@orange.fr">campingchalaronne@orange.fr</a></li>
                                                <li>Téléphone : 04 74 02 56 14</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Footer Col-->
                            <div class="footer-col footer-image-col col-lg-3 col-md-6 col-sm-12">
                                <div class="footer-image">
                                    <img src="{{ asset('assets/images/braseroplein.JPG') }}" alt="image">
                                </div>
                            </div>
                            <!--Footer Col-->
                            <div class="footer-col footer-image-col last col-lg-3 col-md-6 col-sm-12">
                                <div class="footer-image">
                                    <img src="{{ asset('assets/images/tableresto.jpeg') }}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- last footer -->
                <div class="bottom_footer">
                <!-- container start -->
                <div class="auto-container">
                    <!-- row start -->
                    <div class="row clearfix">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <p class="text-white">© 2026 Tous droits réservés</p>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <ul class="social_media">
                        <li><a href="https://themeforest.net/user/kalanidhithemes/portfolio" aria-label="facebook page" ><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://www.behance.net/kalanidhithemes" aria-label="twitter page"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://themeforest.net/user/kalanidhithemes/portfolio" aria-label="instagram page"><i class="fa-brands fa-pinterest-p"></i></a></li>
                        <li><a href="https://themeforest.net/user/kalanidhithemes/portfolio" aria-label="pinterest page"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <p class="developer_text text-white">Crée par Enzo D'aloia-D'ignazio</p>
                    </div>
                    </div>
                <!-- row end -->
                </div>
                <!-- container end -->
                </div>
            </footer>
        <div>
    </body>
</html>
