<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.fancybox.js') }}"></script>
            <script src="{{ asset('assets/js/swiper.js') }}"></script>
            <script src="{{ asset('assets/js/owl.js') }}"></script>
            <script src="{{ asset('assets/js/appear.js') }}"></script>
            <script src="{{ asset('assets/js/wow.js') }}"></script>
            <script src="{{ asset('assets/js/parallax.min.js') }}"></script>
            <script src="{{ asset('assets/js/custom-script.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="page-wrapper"> 
  
            <!-- Preloader -->
            <div class="loader-wrap">
                <div class="preloader">
                    <div class="preloader-close">x</div>
                    <div id="handle-preloader" class="handle-preloader">
                        <div class="animation-preloader">
                            <div class="spinner"></div>
                            <div class="txt-loading">
                                <span data-text-preloader="C" class="letters-loading">
                                    C
                                </span>
                                <span data-text-preloader="H" class="letters-loading">
                                    H
                                </span>
                                <span data-text-preloader="E" class="letters-loading">
                                    E
                                </span>
                                <span data-text-preloader="Z" class="letters-loading">
                                    Z
                                </span>
                                <span data-text-preloader="-" class="letters-loading">
                                    -
                                </span>
                                <span data-text-preloader="S" class="letters-loading">
                                    S
                                </span>
                                <span data-text-preloader="A" class="letters-loading">
                                    A
                                </span>
                                <span data-text-preloader="N" class="letters-loading">
                                    N
                                </span>
                                <span data-text-preloader="D" class="letters-loading">
                                    D
                                </span>
                                <span data-text-preloader="R" class="letters-loading">
                                    R
                                </span>
                                <span data-text-preloader="I" class="letters-loading">
                                    I
                                </span>
                                <span data-text-preloader="N" class="letters-loading">
                                    N
                                </span>
                                <span data-text-preloader="E" class="letters-loading">
                                    E
                                </span>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <!-- Preloader End -->
            
            <!-- Main Header-->
            <header class="main-header header-down">
                <div class="header-top">
                    <div class="auto-container">
                        <div class="inner clearfix">
                            <div class="top-left clearfix">
                                <ul class="top-info clearfix">
                                    <li><i class="icon far fa-map-marker-alt"></i> Restoria, Arrondissement, Paris 9578</li>
                                    <li><i class="icon far fa-clock"></i> Daily : 8.00 am to 10.00 pm</li>
                                </ul>
                            </div>
                            <div class="top-right clearfix">
                                <ul class="top-info clearfix">
                                    <li><a href="tel:+11234567890"><i class="icon far fa-phone"></i> +1 123 456 7890</a></li>
                                    <li><a href="mailto:booking@restaurant.com"><i class="icon far fa-envelope"></i> booking@restaurant.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header Upper -->
                <div class="header-upper">        
                    <div class="auto-container">
                        <!-- Main Box -->
                        <div class="main-box clearfix">
                            <!--Logo-->
                            <div class="logo-box">
                                <div class="logo"><a href="index.html" title="Restoria - Restaurants HTML Template"><img src="{{ asset('assets/images/logo.png') }}" alt="image" title="Restoria - Restaurants HTML Template"></a></div>
                            </div>

                            <div class="nav-box clearfix">
                                <!--Nav Outer-->
                                <div class="nav-outer clearfix">         
                                    <nav class="main-menu">
                                        <ul class="navigation clearfix">
                                            <li class="dropdown current"><a href="#">Home</a>
                                                <ul>
                                                    <li><a href="#">Home One</a></li>
                                                    <li><a href="#">Home Two</a></li>
                                                    <li><a href="#">Home Three</a></li>
                                                    <li><a href="#">Home Four</a></li>
                                                </ul>
                                            </li>

                                            <li class="dropdown has-mega-menu"><a href="menu-list.html">Menus</a>
                                                <ul>
                                                    <li>
                                                        <div class="mega-menu">
                                                            <div class="menu-inner">
                                                                <div class="auto-container">
                                                                    <div class="row clearfix">
                                                                        <div class="menu-block col-lg-3 col-md-6 col-sm-6">
                                                                            <div class="image"><a href="menu-list-1.html"><img src="{{ asset('assets/images/resource/menu-1-thumb.jpg') }}" alt="image"></a></div>
                                                                            <div class="title"><a href="menu-list-1.html">Menu list 1</a></div>
                                                                        </div>
                                                                        <div class="menu-block col-lg-3 col-md-6 col-sm-6">
                                                                            <div class="image"><a href="menu-list-2.html"><img src="{{ asset('assets/images/resource/menu-2-thumb.jpg') }}" alt="image"></a></div>
                                                                            <div class="title"><a href="menu-list-2.html">Menu list 2</a></div>
                                                                        </div>
                                                                        <div class="menu-block col-lg-3 col-md-6 col-sm-6">
                                                                            <div class="image"><a href="menu-list-3.html"><img src="{{ asset('assets/images/resource/menu-3-thumb.jpg') }}" alt="image"></a></div>
                                                                            <div class="title"><a href="menu-list-3.html">Menu list 3</a></div>
                                                                        </div>
                                                                        <div class="menu-block col-lg-3 col-md-6 col-sm-6">
                                                                            <div class="image"><a href="menu-list-4.html"><img src="{{ asset('assets/images/resource/menu-4-thumb.jpg') }}" alt="image"></a></div>
                                                                            <div class="title"><a href="menu-list-4.html">Menu list 4</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="our-chef.html">Our chefs</a></li>
                                            <li class="dropdown"><a href="#">Pages</a>
                                                <ul>
                                                    <li><a href="gallery-masonry.html">Photo Gallery</a></li>
                                                    <li><a href="book-table.html">Reservation 1</a></li>
                                                    <li><a href="book-table-option2.html">Reservation 2</a></li>
                                                    <li><a href="testimonial.html">Testimonial</a></li>
                                                    <li><a href="blog-list.html">Blog List</a></li>
                                                    <li><a href="blog-single-post.html">Blog Single Post</a></li>
                                                    <li><a href="#">Dropdown Menu 1</a></li>
                                                    <li><a href="#">Dropdown Lorem 2</a></li>
                                                    <li class="dropdown"><a href="#">Dropdown Menu 3</a>
                                                        <ul>
                                                            <li><a href="#">Dropdown Menu level 2</a></li>
                                                            <li><a href="#">Dropdown Menu level 2</a></li>
                                                            <li><a href="#">Dropdown Menu Level 2</a></li>
                                                        </ul>
                                                    </li>
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="contact-us.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                    <!-- Main Menu End-->
                                </div>
                                <!--Nav Outer End-->

                                <div class="links-box clearfix">
                                    <div class="link link-btn">
                                        <a href="book-table.html" class="theme-btn btn-style-one clearfix">
                                            <span class="btn-wrap">
                                                <span class="text-one">book a table</span>
                                                <span class="text-two">book a table</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="link info-toggler">
                                        <button class="info-btn">
                                            <span class="hamburger">
                                                <span class="top-bun"></span>
                                                <span class="meat"></span>
                                                <span class="bottom-bun"></span>
                                            </span>
                                        </button>
                                    </div>
                                </div>

                                <!-- Hidden Nav Toggler -->
                                <div class="nav-toggler">
                                    <button class="hidden-bar-opener">
                                        <span class="hamburger">
                                            <span class="top-bun"></span>
                                            <span class="meat"></span>
                                            <span class="bottom-bun"></span>
                                        </span>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </header>
            <!--End Main Header -->
            {% block body %}{% endblock %}
            <!--Main Footer-->
            <footer class="main-footer">
                <div class="upper-section section-kt">
                    <div class="auto-container">
                        <div class="row clearfix">
                            <!--Footer Col-->
                            <div class="footer-col info-col col-lg-6 col-md-12 col-sm-12">
                                <div class="inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <div class="content">
                                        <div class="logo"><a href="index.html" title="Restoria - Restaurants HTML Template"><img src="{{ asset('assets/images/logo.png') }}" alt="image" title="Restoria - Restaurants HTML Template"></a></div>
                                        <div class="info">
                                            <h6>visit us </h6>
                                            <ul>
                                                <li>Restoria, Arrondissement, Paris 9578</li>
                                                <li>Daily - 8.00 am to 10.00 pm</li>
                                                <li><a href="mailto:booking@domainname.com">booking@gmail.com</a></li>
                                                <li><a href="tel:+88-123-123456">Booking Request : +88-123-123456</a></li>
                                                
                                            </ul>
                                        </div>
                                        <div class="separator"><span> </span> </div>
                                        <div class="newsletter">
                                            <h4>Our Newsletter</h4>
                                            <div class="text">Subscribe us & Get 25% Off. Get latest updates.</div>
                                            <div class="newsletter-form">
                                                <form method="post" action="index.html">
                                                    <div class="form-group">
                                                        <span class="alt-icon far fa-envelope"></span>
                                                        <input type="email" name="email" value="" placeholder="Your email" required>
                                                        <button type="submit" class="theme-btn btn-style-one clearfix">
                                                            <span class="btn-wrap">
                                                                <span class="text-one">subscribe</span>
                                                                <span class="text-two">subscribe</span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Footer Col-->
                            <div class="footer-col footer-image-col col-lg-3 col-md-6 col-sm-12">
                                <div class="footer-image">
                                    <img src="{{ asset('assets/images/resource/footer-img-1.jpg') }}" alt="image">
                                </div>
                            </div>
                            <!--Footer Col-->
                            <div class="footer-col footer-image-col last col-lg-3 col-md-6 col-sm-12">
                                <div class="footer-image">
                                    <img src="{{ asset('assets/images/resource/footer-img-2.jpg') }}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- last footer -->
                <div class="bottom_footer">
                <!-- container start -->
                <div class="auto-container">
                    <!-- row start -->
                    <div class="row clearfix">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <p>© 2025 All Rights Reserved</p>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <ul class="social_media">
                        <li><a href="https://themeforest.net/user/kalanidhithemes/portfolio" aria-label="facebook page" ><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://www.behance.net/kalanidhithemes" aria-label="twitter page"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://themeforest.net/user/kalanidhithemes/portfolio" aria-label="instagram page"><i class="fa-brands fa-pinterest-p"></i></a></li>
                        <li><a href="https://themeforest.net/user/kalanidhithemes/portfolio" aria-label="pinterest page"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <p class="developer_text">Crafted by <a href="https://themeforest.net/user/kalanidhithemes/portfolio" target="blank">Kalanidhi Themes</a></p>
                    </div>
                    </div>
                <!-- row end -->
                </div>
                <!-- container end -->
                </div>
            </footer>
        <div>
    </body>
</html>
